services:
  app:
    build: .
    container_name: php-app
    volumes:
      - .:/app
    restart: unless-stopped
    networks:
      - php_app_network

  web:
    image: nginx:alpine
    container_name: webserver
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - app
    networks:
      - php_app_network


networks:
  php_app_network: