services:
  app:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: php-app
    volumes:
      - .:/app
    restart: unless-stopped
    ports:
      - "5173:5173"
    networks:
      - php_app_network

  web:
    image: nginx:alpine
    container_name: webserver
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - app
    networks:
      - php_app_network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - php_app_network

networks:
  php_app_network:
